html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    width: 100%;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  nav {
    display: flex;
    background-color: pink;
  }
  nav li {
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
  }
  h1 {
    color: rgb(39, 0, 0);
    padding-left: 1rem;
  }
  img {
    width: 5%;
    margin-right: 3rem;
    margin-top: 1rem;
  }
  section {
    padding-right: 3rem;
    padding-bottom: 300px;
    background-color: rgb(255, 171, 185);
  }
  .ballerina {
    display: flex;
    justify-content: center;
    padding-right: 3rem;
    padding-bottom: 30px;
  }
  .cottoncandy {
    display: flex;
    justify-content: center;
    padding-right: 3rem;
    padding-bottom: 30px;
  }
  .flamingo {
    display: flex;
    justify-content: center;
    padding-right: 3rem;
    padding-bottom: 30px;
  }
  .jellyfish {
    display: flex;
    justify-content: center;
    padding-right: 3rem;
    padding-bottom: 30px;
  }
  .pig {
    display: flex;
    justify-content: center;
    padding-right: 3rem;
    padding-bottom: 30px;
  }
  .soap {
    display: flex;
    justify-content: center;
    padding-right: 3rem;
    padding-bottom: 30px;
  }
  .strawberrymilk {
    display: flex;
    justify-content: center;
    padding-right: 3rem;
    padding-bottom: 30px;
  }
  .worm {
    display: flex;
    justify-content: center;
    padding-right: 3rem;
    padding-bottom: 30px;
  }
  .yogurt {
    display: flex;
    justify-content: center;
    padding-right: 3rem;
    padding-bottom: 30px;
  }